<div class="jumbotron options" style="text-align: left">
    <h4>Rules</h4>
    <div class="form form-inline">
        <div class="form-group rules" ng-repeat="rule in ruleLabels">
            <label for="{{rule}}" style="display: block;">{{rule}}</label>
            <input name="{{rule}}" id="{{rule}}" ng-model="rules[rule]" ng-checked="rules[rule] == 1" ng-true-value="1" ng-false-value="0" type="checkbox" />
        </div>
    </div>
    <div style="margin-top: 20px;">
        <span class="btn btn-success" ng-click="generation = generation + 1" ng-init="0">Next Generation</span>
        <span class="btn btn-danger" ng-click="resetBoard()">Reset board</span>
    </div>

</div>

<div class="jumbotron">
    <span class="directions">Click on a cell to toggle its state</span>
    <div ng-repeat="generation in generations track by $index" generation="generation"></div>
</div>
